
/* контейнеры */
.content {
    background-color: var(--white);
    border-radius: 0 0 16px 16px;
    box-shadow: 0 0 16px var(--shadow-gray);
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.group-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* текст */
.main-text {
    font-family: var(--main-font);
    font-size: 1rem;
}

.link {
    font-family: var(--main-font);
    font-size: 1rem;
    color: var(--violet);
    text-decoration: none;
}
.link:hover {
    color: var(--orange);
}

/* кнопки */
[tuiAppearance].light-small-button {
    background-color: var(--super-light-violet);
    border-radius: 1em;
    font-family: var(--main-font);
    font-weight: normal;
    color: black;
}
[tuiAppearance].light-small-button:hover {
    background-color: var(--light-violet);
}

/* прочее */
.zero-top-indent {
    margin-top: 0;
}