<main class="bg main-page">
    <div class="vertical-left-list">
        @if (!orderListIsEmpty()) {
        <h2 class="header-left-text">Мои заказы</h2>
        }
        <tui-accordion class="accordion">
            @for (statusCode of statusCodes; track $index) {
                @if (orderList[statusCode]) {
                    <button tuiAccordion class="text">{{statusNames[$index]}}</button>
                    <tui-expand>
                        <list-order [orders]="orderList[statusCode]" [isClient]="true" (orderChanged)="updateOrders()"></list-order>
                    </tui-expand>
                }
            }
        </tui-accordion>

        @if (orderListIsEmpty()) {
        <div class="cloud vertical-list">
            <h2 class="header-text-without-margin">Вы ещё не создавали заказы - самое время начать!</h2>
            <img src="unknown.png" class="photo">
            <button tuiButton class="violet-button round-button" routerLink="/create-order/-1">Создать заказ</button>
        </div>
        }
        <br>
    </div>

</main>