.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    padding: 10px;
    margin-bottom: 6px;
    box-shadow: 0px 1px 6px #d7d7d7;
}
.header-bg {
    padding-bottom: 6px;
    background-color: #f5f5f5;
}

/* картинки */
.icon {
    width: auto;
    height: 36px;
}

/* кнопки */
[tuiAppearance].light-small-button {
    background-color: var(--super-light-violet);
    border-radius: 1em;
    font-family: var(--main-font);
    color: black;
}
[tuiAppearance].light-small-button:hover {
    background-color: var(--light-violet);
}
[tuiAppearance].auth-button {
    margin-right: 3rem;
    font-weight: normal;
}