<div class="header-bg">
    <div class="header">
        <a routerLink="/">
            <img src="/mini-logo.png" class="icon">
        </a>

        @if (isAuthenticated()) {
            <!-- для клиента -->
            @if (getUserRole() == Role.CLIENT) {
                <div class="horizontal-list">
                    <a class="link" routerLink="create-order">
                        Создать заказ
                    </a>

                    <a class="link">
                        Мои заказы
                    </a>
                </div>
            }

            <!-- для мастера -->
            @if (getUserRole() == Role.MASTER) {
                <div class="horizontal-list">
                    <a class="link">
                        Свободные заказы
                    </a>

                    <a class="link">
                        Мои заказы
                    </a>
                </div>
            }

            <!-- выпадающий профиль пользователя -->
            <div class="vertical-popup-list">
                <button tuiButton class="drop-down-button" (click)="toggleUserInfo()" [class.active]="isUserInfoVisible">
                    <tui-avatar [src]="getPhotoUrl()" size="m" />
                    <tui-icon icon="@tui.chevron-down" [style.color]="'var(--gray)'" [style.font-size.px]="12" />
                </button>

                @if (isUserInfoVisible) {
                <user-info></user-info>
                }
            </div>
        }

        @if (!isAuthenticated()) {
        <div class="horizontal-list">
            <a class="link" routerLink="create-order">
                Создать заказ
            </a>

            <a class="link">
                Стать исполнителем
            </a>
        </div>

        <button tuiButton size="m" class="light-small-button auth-button" (click)="showAuthDialog()">
            Войти
        </button>
        }

    </div>
</div>