.vertical-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.outlet {
    padding-left: 1em;
    padding-right: 1em;
}

/* поля ввода */
.input {
    font-family: var(--main-font);
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
    width: calc(100% - 2em);
}

.input:focus {
    outline: none;
    border: 2px solid var(--violet);
}

input.ng-touched.ng-invalid {
    border: 2px solid red;
}

/* тексты */
.header-text {
    font-family: var(--main-font);
    font-size: 1.5em;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

.main-text {
    font-family: var(--main-font);
    font-size: 1rem;
}

.link {
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: bold;
    color: var(--violet);
    text-decoration: none;
}

.link:hover {
    color: var(--orange);
}

.alert {
    font-family: var(--main-font);
    font-size: 1rem;
    margin-top: -0.8em;
    padding-left: 2em;
    color: red;
    width: 100%;
    text-align: left;
}

.error {
    font-family: var(--main-font);
    font-size: 1rem;
    color: red;
    width: 100%;
    text-align: left;
}

/* кнопки */
[tuiAppearance].full-width-button {
    width: 100%;
}