<header>
    <app-header></app-header>
</header>

<main class="bg main-page">
    <div class="welcome-block">
        <div class="vertical-list">
            <h1 class="welcome-header">Организация праздников в Рязани</h1>
            <button tuiButton class="violet-button welcome-button" size="l" routerLink="masters/DECORATOR">
                Найти специалиста
            </button>
        </div>
        <div class="vertical-list">
            <img src="welcome-bg.png" class="welcome-image">
        </div>
    </div>
    
    <!-- Первый ряд -->
    
    <div class="horizontal-list full-block">
        <button tuiButton class="category-button third-block" routerLink="masters/DECORATOR">
            <span class="header-category">Декоратор</span>
            <div class="line-image">
                <img src="categories/decorator.png" class="category-image">
            </div>      
        </button>

        <button tuiButton class="category-button third-block" routerLink="masters/HOST">
            <span class="header-category">Ведущий</span>
            <div class="line-image">
                <img src="categories/host.png" class="category-image">
            </div>      
        </button>

        <button tuiButton class="category-button third-block" routerLink="masters/PHOTOGRAPHER">
            <span class="header-category">Фотограф</span>
            <div class="line-image">
                <img src="categories/photo.png" class="category-image">
            </div>      
        </button>
    </div>   

    <!-- Второй ряд -->

    <div class="horizontal-list full-block">
        <button tuiButton class="category-button half-block" routerLink="masters/CHEF">
            <span class="header-category">Повар</span>
            <div class="line-image">
                <img src="categories/chef.png" class="category-image">
            </div>      
        </button>

        <button tuiButton class="category-button half-block" routerLink="masters/WAITER">
            <span class="header-category">Официант</span>
            <div class="line-image">
                <img src="categories/waiter.png" class="category-image">
            </div>      
        </button>
    </div>

    <!-- Третий ряд -->

    <div class="horizontal-list full-block">
        <button tuiButton class="category-button third-block" routerLink="masters/VIDEOGRAPHER">
            <span class="header-category">Видеограф</span>
            <div class="line-image">
                <img src="categories/video.png" class="category-image">
            </div>      
        </button>

        <button tuiButton class="category-button third-block" routerLink="masters/SOUND_ENGINEER">
            <span class="header-category">Звукорежиссёр</span>
            <div class="line-image">
                <img src="categories/sound.png" class="category-image">
            </div>      
        </button>

        <button tuiButton class="category-button third-block" routerLink="masters/LIGHT_ENGINEER">
            <span class="header-category">Светорежиссёр</span>
            <div class="line-image">
                <img src="categories/light.png" class="category-image">
            </div>      
        </button>
    </div><br><br>

</main>

<footer>
    <app-footer></app-footer>
</footer>