<div class="cloud main-content-page">
    <div class="vertical-list">
        <order-info [order]="order" [isClient]="true"></order-info>

        @if (order.status == "IN_PROGRESS") {
            <div class="horizontal-list">
                <button tuiButton class="violet-button round-button">
                    <tui-icon icon="@tui.check" [style.color]="'var(--white)'" [style.font-size.rem]="1.5" />
                    Закрыть заказ
                </button>
                <a class="link" href="https://steamuserimages-a.akamaihd.net/ugc/1622975509529861148/AE63D68F4580132BF776E9EA517A8B5DECC1FA8B/"
                >Обратиться в поддержку</a>
            </div>           
        }

        @if (order.status == "PLACED") {
            <button tuiButton class="yellow-button round-button">
                <tui-icon icon="@tui.x" [style.color]="'var(--white)'" [style.font-size.rem]="1.5" />
                Отменить заказ
            </button>
        }
    </div>
</div>
