/* You can add global styles to this file, and also import other style files */


/* global colors */
:root {
    --light-gray: #F5F5F5;
    --middle-gray: #ececec;
    --gray: gray;
    --white: white;
    --shadow-gray: #d7d7d7;
    --violet: #9E4DF0;
    --dark-violet: #8141c2;
    --light-violet: #E6D7F5;
    --super-light-violet: #f1ebf8;
    --yellow: #EEF054;
    --light-yellow: #FFFFE8;
    --dark-yellow: #CCCE49;
    --orange: #ff6600;

    --main-font: 'Arial';
}

/* other */
.bg {
    /*height: calc(100vh - 100px);*/
    background-color: var(--light-gray);
}
body {
    margin: 0;
}
.right-margin {
    margin-right: 1rem;
}

/* blocks */
.cloud {
    background: var(--white);
    border-radius: 16px;
    box-shadow: 0 0 10px var(--shadow-gray);
    margin: 1rem;
    padding: 1rem;
}

/* buttons */
[tuiAppearance].violet-button {
    background-color: var(--violet);
    font-family: var(--main-font);
}
[tuiAppearance].violet-button:hover, [tuiAppearance].violet-button:disabled {
    background-color: var(--dark-violet);
}

[tuiAppearance].round-button {
    border-radius: 2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

[tuiAppearance].yellow-button {
    background-color: var(--orange);
}
[tuiAppearance].yellow-button:hover {
    background-color: var(--dark-yellow);
}

[tuiAppearance].light-button {
    background-color: var(--super-light-violet);
    border-radius: 2em;
    font-family: var(--main-font);
    font-size: 1rem;
    color: black;
}
[tuiAppearance].light-button:hover {
    background-color: var(--light-violet);
}